@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.content {
  padding: 1rem;
}

.content h1 {
  margin: 0;
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #49d0b0;
  color: #fff;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemons .detail img {
  height: 70px;
  max-width: 100%;
  border-style: none;
  align-items: flex-end;
}

.pokemon .number {
  color: black;
  opacity: 0.3;
  text-align: right;
}

.pokemon .detail .name {
  color: white;
  margin-bottom: 0;
  font-weight: 700;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  margin: 0.25rem 0.25rem;
  border-radius: 0.8rem;
}
